<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>InternetWorks.icns</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>InternetWorks</string>
	<key>CFBundleIdentifier</key>
	<string>co.com.sparks.InternetWorks</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>CFBundleName</key>
	<string>InternetWorks</string>
	<key>CFBundleDisplayName</key>
	<string>InternetWorks</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.2</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHumanReadableCopyright</key>
	<string>2013 Gui Zhenwei</string>
</dict>
</plist>
